@page "/"
@using AntDesign;
@using NageXymSharpApps.Shared;
@inject IMessageService _message
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<Button Type="primary" OnClick="OnClick">
    Display normal message
</Button>

@code {
    private void OnClick()
    {
        Console.WriteLine("onclick");
        _message.Info("This is a normal message");
    }
}