@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://qiita.com/villhell/private/61446b4231479429f38b" target="_blank">Detail</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
